

<div id="front_header">Tinder Full Stack Coding Challenge</div>


<form action="/tinder/start" method="post" class="form-signin">
  <div id="loginDetails_formContainer">

    <p>
      Hi Tinder!<br>
      My name is Jonathan Lau.<br>
      This is my coding challenge for the Full
      Stack Developer Position.
    </p>
  </div>


  <div class="wrapper">
      <input type="submit" class="btn btn-primary center-block" value="Start!" data-role="none"/>
      <input type="hidden" name="_csrf" value="<%= _csrf %>" />
  </div>


</form>
